body {
	height: 100vh;
	margin: 0px;
	background-color: black;
}

#body-container {
	display: flex;
	flex-direction: row;
	height: calc(100% - 22px);
}

.list-group {
	min-width: 12em;
	min-height: 12em;
	margin: 0em 2em;
	height: 100%;
	overflow: scroll;
}

.list-group-item {
	border: 1px solid grey;
	
}

#example3Left {
	background-color: green;
}

#example3Right {
	background-color: darkblue;
}
